body {
    text-align: center;
}

#start-button {
    margin-bottom: 25px;
}

#container {
    display: flex;
    justify-content: center;
}

.grid {
   width: 200px;
   height: 400px;
   display: flex;
   flex-wrap: wrap;
   background-color: rgb(250, 250, 119);
}
.grid div,
.mini-grid div {
    width: 18px;
    height: 18px;
    margin: 1px;
    justify-content: space-between;
}

.mini-grid {
    margin-left: 15px;
    padding: 20px 0;
    width: 100px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: paleturquoise;
}